<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>
    
    	<!-- Royal Preloader CSS -->
	<link href="/media/css/royal_preloader.css" rel="stylesheet">

	<!-- jQuery Files -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

	<!-- Parallax File -->
	<script type="text/javascript" src="/media/js/parallax.min.js"></script>

	<!-- Royal Preloader -->
	<script type="text/javascript" src="/media/js/royal_preloader.min.js"></script>
	<script type="text/javascript">
		Royal_Preloader.config({
		    mode:           'number',
		    showProgress:   false,
		    background:     '#1d1d1d'
		});
	</script>

	<!-- Stylesheets -->
	<link href="/media/css/bootstrap.min.css" rel="stylesheet">
	<link href="/media/css/ionicons.min.css" rel="stylesheet">
	<link href="/media/css/pe-icon-7-stroke.css" rel="stylesheet">
	<link href="/media/cs/smagnific-popup.css" rel="stylesheet">
	<link href="/media/css/logoiconfont.css" rel="stylesheet">
	<link href="/media/css/style.css" rel="stylesheet" title="main-css">

	<!-- Style Switcher / remove for production -->
    <!-- Bootstrap Core CSS -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/media/css/1-col-portfolio.css" rel="stylesheet">
    
	<!-- Alternate Stylesheets / choose what color and base you want and include the 2 files regularly AFTER style.css above -->
	<link rel="alternate stylesheet" type="text/css" href="/media/css/colors/blue.css" title="blue" disabled>
	<link rel="alternate stylesheet" type="text/css" href="/media/css/colors/green.css" title="green"disabled>
	<link rel="alternate stylesheet" type="text/css" href="/media/css/colors/orange.css" title="orange" disabled>
	<link rel="alternate stylesheet" type="text/css" href="/media/css/colors/red.css" title="red">
	<link rel="alternate stylesheet" type="text/css" href="/media/css/colors/orangelight.css" title="orangelight" disabled>
	<link rel="alternate stylesheet" type="text/css" href="/media/css/colors/pinkish.css" title="pinkish" disabled>
	<link rel="alternate stylesheet" type="text/css" href="/media/css/colors/seagul.css" title="seagul" disabled>
	<link rel="alternate stylesheet" type="text/css" href="/media/css/base-light.css" title="base-light" disabled>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<div class="form-group text-center">
   <h1>Regristration Page</h1>
    </div
</head>
    <form action="/accounts/register/" method="post">{% csrf_token %}
     <div class="form-group text-center">
     <div>
    <label class="text-left">UserName</label>
    </div>
     {{form.username}} 
        </div>
         <div class="form-group text-center">
    <div>     
    <label>Password</label>
             </div>
     {{form.password1}}
        </div>
         <div class="form-group text-center">
         <div>
    <label>Confirm Password</label>
             </div>
     {{form.password2}}
        </div>
         <div class="form-group text-center">
         <div>
    <label>Email</label>
             </div>
     {{form.email}}
        </div>   
        <div class="form-group text-center"><input type="submit" class="btn btn-success btn-lg" value="Register" /></div>

   </form>
   <script src="/media/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/media/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/media/js/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArLNT3t4qsJEBmR0R9P_6ueLIQz0Jvt1M&callback=initMap" async defer></script>
    <script type="text/javascript">
		/* ---- Google Maps ---- */
        function initMap() {
            var mapOptions = {
                zoom: 15,
				zoomControl: false,
				scaleControl: false,
				scrollwheel: false,
				disableDoubleClickZoom: true,
                center: new google.maps.LatLng(40.6700, -73.9400), // New York
                styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
            };
            var mapElement = document.getElementById('map');
            var map = new google.maps.Map(mapElement, mapOptions);
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(40.6700, -73.9400),
                map: map,
                title: 'Our Office!'
            });
        }
    </script>
	<script type="text/javascript" src="/media/js/particles.min.js"></script>
	<script type="text/javascript" src="/media/js/particlesRun.js"></script>
	<script type="text/javascript" src="/media/js/jquery.mixitup.js"></script>
	<script type="text/javascript" src="/media/js/form-validator.min.js"></script>  
	<script type="text/javascript" src="/media/js/jquery.inview.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.countTo.js"></script>  
	<script type="text/javascript">
		/* ---- Counter (our count) ---- */
		$('#ourcount').one('inview', function(event, isInView) {
			if (isInView) {
				$('.timer').countTo({speed: 3000});
			}
		});
	</script>
	<script type="text/javascript" src="/media/js/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript" src="/media/js/scrollreveal.min.js"></script>
	<script type="text/javascript" src="/media/js/style-switcher.js"></script><!-- Remove for production -->
	<script type="text/javascript" src="/media/js/main.js"></script>
</body>

</html>